*{
    margin: 0px;
    padding: 0px
}

/*Header tab and navigation*/

.header {
    background-color: #142d4c;
    padding: 15px;
    font-family: "Roboto";
}

.nav {
    display: flex;
    justify-content: space-between;
    margin-bottom: 10px;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 50px;
    margin-left: 250px;
    margin-right: 100px;
}

.nav a{
    text-decoration: none;
    color: #ececec;
    font-weight: bold;
    font-size: 24px;
}

.nav h1 {
    
    color: #ececec;
    margin-right: 250px;   
    font-size: 36px;
}

.bar{
    background-color: #ececec;
    margin: 0;
    height: 2px;
}

/* Code directed to the header */

.intro{
    display: flex;
    margin-top: 100px;
    justify-content: center;
    justify-content: space-around;
}

.header_text {
    justify-content: center;
    width: 400px;
    height: 400px;
}

.header_text h1{
    padding-top: 30px;
    color: #ececec;
    font-size: 38px;
    margin-bottom: 30px;
}

.header_text p{
    color: #e7eaf6;
    font-size: 18px;
    font-weight: bold;
}

/* Information tab */

.information {
    background-color: #38598b;
    font-family: "Roboto";
}

.information_content {
    display: flex;
    justify-content: center;
    color: #ececec;

}

.recipe_box{
    width: 400px;
    height: 350px;
}
