*{
    margin: 0px;
    padding: 0px
}

/*Header tab and navigation*/

.header {
    background-color: #1f2937;
    padding: 30px;
    font-family: "Roboto";
}

.nav {
    display: flex;
    margin-bottom: 10px;
    gap: 20px;
    align-items: center;
}

.nav ul {
    list-style: none;
    display: flex;
    align-items: center;
    margin-left: auto;
    gap: 50px;
    margin-right: 100px;
}

.nav a{
    text-decoration: none;
    color: #ececec;
    font-weight: bold;
    font-size: 24px;
}

.nav h1 {
    
    color: #ececec;
    font-size: 36px;
}

/* Bar to separate the content of the website */

.bar{
    background-color: #ececec;
    margin: 0;
    height: 2px;
}

/* Code directed to the header */

.intro{
    display: flex;
    padding: 100px 0px;
    justify-content: center;
    justify-content: space-around;
    background-color: #142d4c;
    font-family: "Roboto";
    text-align: center;
}

.header_text {
    justify-content: center;
    width: 400px;
    height: 400px;
}

.header_text h1{
    padding-top: 30px;
    color: #ececec;
    font-size: 38px;
    margin-bottom: 30px;
}

.header_text p{
    color: #e7eaf6;
    font-size: 18px;
    font-weight: bold;
}

/* Information tab */

.information {
    background-color: #38598b;
    font-family: "Roboto";
}

.information_content {
    padding-top: 100px;
    display: flex;
    justify-content: center;
    color: #ececec;
    gap: 50px;

}

/* The container for the image and text of the recipes */


.recipe_box{
    padding-bottom: 100px;
}
.recipe_box h2{
    font-size: 24px;
}

.recipe_box p{
    font-size: 18px;
    font-weight: bold;
}
.recipe_box img{
    border-radius: 20px;
    border: 10px solid #142d4c;
}

.recipe_box a {
    text-decoration: none;
    color: #ececec;
}

/* Footer tab */

.footer{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #1f2937;
    font-family: 'Roboto';
}

.footer_content{
    font-size: 18px;
    padding: 50px;
    color: white;
    font-weight: bold;
}